.header {
  width: 100%;
  margin-top: 10px;
}

.header p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}

form {
  padding: 10px 30px;
}

form .button {
  display: flex;
  margin: auto;
}